@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668216733313') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-14CIRCLE:before {
  content: "\e640";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-md-checkbox-outline:before {
  content: "\e6ed";
}

.icon-start:before {
  content: "\e626";
}

.icon-Stop:before {
  content: "\e631";
}

.icon-checkbox-uncheck:before {
  content: "\e50f";
}

